:root {
    --color-1: #070F2B;
    --color-2: #1F2544;
    --color-3: #0A1D56;
    --color-4: #030637;
    --color-5: #424769;
    --color-6: #7077A1;
    --color-7: #161A30;
    --color-8: #5D12D2;
    --color-9: #85E6C5;
    --color-10: #E2F6CA;
}